<div class="body">
    <div class="cantainer">
        <a class="logo" routerLink="home">
            <i class="fa-solid fa-utensils fa-2xl" style="color: #f27c1c;"></i>
            eatify
        </a>
    </div>
    <nav>
        <ul>
            <li>
                <a  routerLink="home" class="home-link">Home</a>
                <a  routerLink="cart" class="cart-link">cart
                    <span class="cart-badge">{{cartitem.length}}</span>
                </a>
            </li>
        </ul>
    </nav>
</div>