<!-- cart head -->
  <div class="cart-header">
    <h3>Your Cart</h3>
    <button class="clearbutton" (click)="clearitem()">Clear All</button>
  </div>

<div class="cart-container">

 <!-- cart item -->
  <div class="cart-items" *ngIf="cartitem.length > 0; else emptyCart">
    <div class="cart-item" *ngFor="let item of cartitem; let i = index">
      <img [src]="item.imageUrl" alt="{{ item.name }}" [routerLink]="['/selectditem', item.id]"/>

      <div class="details">
        <h3>{{ item.name }}</h3>
        <!-- <p class="price">₹ {{ item.price }}</p> -->
        <p class="price">₹ {{price}}</p>
      </div>
      <div>
        <app-count
            [quantity]="item.quantity || 1"
            (increaseEvent)="cartservice.updateItemQuantity(item, (item.quantity || 1) + 1)"
            (decreaseEvent)="cartservice.updateItemQuantity(item, (item.quantity || 1) - 1)">
        </app-count>
      </div>

      <div class="actions">
        <button class="orderbutton" (click)="orderbutton(item)" routerLink="/form">Order Now</button>
        <app-popup></app-popup>
        <button class="cancel" (click)="cancelbutton(i)">Cancel</button>
      </div>
    </div>
  </div>
</div>

  <!-- Empty Cart Message -->
  <ng-template #emptyCart>
    <p class="empty">Your cart is empty!</p>
    <button routerLink="/home" class="epmtybutton">⬅ Back to Home</button>
  </ng-template>

<div *ngIf="totalprice > 0">
  <div class="totalprice" >
    <h4>total price : </h4>
     <!-- <span class="totaltext">total price  : </span> -->
    <span class="totalamount">{{totalprice | currency:'INR':'symbol'}}</span>
    <!-- <span class="totalamount">{{totalprice | currency:'USD':'symbol':'1.2-2' }}</span> -->
  </div>
  <button routerLink="/order" (click)="orderall()" class="orderAllbutton" routerLink="/form">Order All</button>
</div>
